.title {
    text-align: center;
    margin: 2.5rem 0 1rem 0;
    font-size: 20px;
}

.list-item {
    padding-right: 10px;
}

.icon {
    width: 25px;
}

.select-category {
    display: contents;
}

.result {
    text-align: center;
    margin: 2rem;
}

.btn-result {
    width: 100%;
}