<div class="container">
  <div class="title">
    <span>Filtrer les evenements</span>
  </div>

  <ion-list class="list-item">
    <ion-item>
      <div class="icon">
        <ion-icon name="bookmarks"></ion-icon>
      </div>
      <div class="select-category">
        <ion-select label="Catégorie des événements" placeholder="{{ selectedCategory || 'Catégorie' }}" [multiple]="true" [(ngModel)]="selectedCategory">
          <ion-select-option *ngFor="let category of categories; let id= index" [value]="category">{{category.name}}</ion-select-option>
        </ion-select>
      </div>
    </ion-item>
  
    <ion-item>
      <div class="icon">
        <ion-icon name="calendar"></ion-icon>
      </div>
      <div class="select-category">
        <ion-select label="Date de l'événement" placeholder="{{ selectedDate || 'Date' }}" [multiple]="true" [(ngModel)]="selectedDate">
          <ion-select-option *ngFor="let date of dates; let id= index" [value]="date">{{date.name}}</ion-select-option>
        </ion-select>
      </div>
    </ion-item>
  
    <ion-item>
      <div class="icon">
        <ion-icon name="people"></ion-icon>
      </div>
      <div class="select-category">
        <ion-select label="Evenement de" placeholder="{{ selectedVenue || 'Evenement' }}" [multiple]="true" [(ngModel)]="selectedVenue">
          <ion-select-option *ngFor="let venue of venues; let id= index" [value]="venue">{{venue.name}}</ion-select-option>
        </ion-select>
      </div>
    </ion-item>
  
    <ion-item>
      <div class="icon">
        <ion-icon name="location"></ion-icon>
      </div>
      <div class="select-category">
        <ion-select label="Location" placeholder="{{ selectedLocation || 'Location' }}" [multiple]="true" [(ngModel)]="selectedLocation">
          <ion-select-option *ngFor="let location of locations; let id= index" [value]="location">{{location.name}}</ion-select-option>
        </ion-select>
      </div>
    </ion-item>
  </ion-list>

  <div class="result">
    <ion-button color="primary" (click)="result()" class="btn-result">
      Afficher les résultats
    </ion-button>
  </div>

</div>