.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4.5rem;
    
    .filter-container {
      width: 100%;
      height: 4.5rem;
      background-color: var(--ion-color-light-shade);
      position: fixed;
      top: 0;
      z-index: 1;
    }

  }
  
  .column {
    width: 100%; /* Par défaut, occupe la largeur totale sur les petits écrans */
  }
  
  @media (min-width: 768px) {
    .column {
      width: calc(50% - 1rem); /* Deux colonnes sur les écrans moyens */
    }
  }
  
  @media (min-width: 992px) {
    .column {
      width: calc(33.33% - 1rem); /* Trois colonnes sur les grands écrans */
    }
  }