<div class="container" routerLink="/event-detail">
  <div class="image-container">
    <img src="../../../assets/images/layouts/square.png" class="image-layout">
    <img src="../../../assets/images/{{event.image}}" class="image-event">
  </div>

  <div class="info-container">
    <div class="organizer">
      <div class="image-organizer"></div>
    </div>
    <div class="info">
      <div class="name">Shakira en concert</div>
      <div class="date"> Mar 15, Dec 23</div>
      <div class="location">Discotheque, Analakely</div>
    </div>
  </div>


</div>